<%- include partials/profile %>
<div id='twitter-page' class='background-customize'>
	<div id='twitter-home-feed'>
	<h3>Twitter Home Feed</h3>
	<% tweets.forEach (function(tweets) { %>
			<li class=no-bullet>
				<div class='tweet-container'> 
					<%= tweets.text %> - <strong> <%= tweets.user.name %> (@<%= tweets.user.screen_name %>)</strong>
				</div>
			</li>

	<% }) %>
	</div>
</div>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script>
	console.log(<% preference %>);
	var navBar = $('#services-menu');
	var twitterPage = $('#twitter-page');

	if('<%=preference.dataValues.navColor%>') {
		var navColor = '<%=preference.dataValues.navColor %>'
	} else {
		$(navBar).css('backgroundColor', 'black');
	}
	if (navColor) {
		$(navBar).css('backgroundColor', navColor);
	} else {
		//Do Nothing
	}

</script>

