<%- include partials/profile %>
<div id='twitter-page' class='background-customize'>
	<div id='twitter-home-feed'>
	<h3>Twitter Home Feed</h3>
	<div id='post-tweet-container'>
		<h4>Tweet</h4>
		<textarea></textarea>
		<button type='button' id='post-tweet'>Tweet</button>
	</div>
	<% tweets.forEach (function(tweets) { %>
			<li class=no-bullet>
				<div class='tweet-container'>
					<div class='twitter-user'>
						<img class='img-circle' src='<%= tweets.user.profile_image_url %>'>
					</div>
					<%= tweets.text %> - <strong> <%= tweets.user.name %> (@<%= tweets.user.screen_name %>)</strong> 
					<% if(tweets.user.location) { %>
						from <%= tweets.user.location %>
					<% } %>
				</div>
			</li>

	<% }) %>
	</div>
</div>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script>
	console.log(<% preference %>);
	var navBar = $('#services-menu');
	var twitterPage = $('#twitter-page');

	if('<%=preference.dataValues.navColor%>') {
		var navColor = '<%=preference.dataValues.navColor %>'
		$(navBar).css('backgroundColor', navColor);
	}

</script>

